/* GLOBAL */
body {
    margin: 0;
    text-align: center;
    font-size: 1.125rem;
    line-height: 1.7;
    font-family: "Roboto", sans-serif;
    color: #d6d6d6;
    background-color: #fff;
}

/* TYPING */
h1, h2 {
    color: #fff;
}

h1 {
    font-weight: 900;
    font-size: 3rem;
}

h2 {
    font-weight: 700;
    font-size: 2rem;
}

/* BUTTONS, IMAGES ETC */
img {
    padding: 2rem 0;
    max-width: 300px;
    max-height: 300px;
}

button > a {
    text-decoration: none;
}

.btn:hover {
    background-color: hsl(220, 7.7%, 22.9%);
    box-shadow: 0 8px 15px rgba(0, 0, 0, .2);
}

li {
    list-style: none;
    line-height: 2.7;
}

/* NAVBAR */
.navbar {
    padding: 1rem;
}

/* SECTIONS */
section {
    padding: 3.5rem 1rem;
}

.subsection {
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
}

.subsection, .transition > header {
    padding: 1.5rem 0;
}

.subsection > h2 {
    padding: 1rem;
}

.link-buttons {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
}

.link-button {
    width: 10rem;
    padding: 0.5rem 0;
    background-color: #23272a;
    color: #fff;
    border-radius: 100rem;
    font-size: 1.25rem;
}

.info-section {
    min-height: 100vh;
    background-image: linear-gradient(0deg, #000, #2a475e 40%, #66c0f4);
}

.dokusei-section {
    background-color: #5865F2;
    background-image: linear-gradient( #000, #363F95, #4C55BB, #363F95, #000)
}

.dokusei-section > header > .link-buttons > .btn:hover {
    color:#5865F2;
}

.hagemansimp-section {
    background-color: #6441a5;
    /* background-image: linear-gradient( #000, #6039aa, #9146FF, #6039aa, #000); */
    background-image: linear-gradient( #000, #6039aa, #9146FF);
}

.hagemansimp-section > header > .link-buttons > .btn:hover {
    color:#6441a5;
}

/* TRANSITIONS */
.transition {
    background-color: #000;
}

.transition-img {
    max-width: 100%;
    max-height: 100%;
}

.spacing {
    padding: 5rem;
}

.small-spacing {
    padding: 2.5rem;
}

/* FOOTER */
.license {
    color: #fff;
}

.license:hover {
    color: rgb(92, 209, 255);
}

@media screen and (min-width: 500px) {
    .dokusei-img {
        max-width: 500px;
        max-height: 500px;
    }
}

@media screen and (min-width: 992px) {
    body {
        line-height: 2;
        font-size: 1.25rem;
    }

    li {
        line-height: 3;
    }

    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 3rem;
    }

    section {
        padding: 7rem 1.5rem;
    }

    .subsection {
        padding: 3.5rem 0;
    }

    .spacing {
        padding: 15rem;
    }
    
    .small-spacing {
        padding: 7.5rem;
    }

    .info-section {
        min-height: calc(100vh - 6.5rem);
    }

    .info-description {
        display: flex;
        gap: 3.5rem;
        justify-content: center;
        align-items: center;
        text-align: left;
        max-width: 60rem;
        margin-left: auto;
        margin-right: auto;
    }
}

/* SCROLL STUFF */
.hide {
    opacity: 0;
    left: -100%;
}

.show {
    opacity: 1;
    left: 0;
    animation: reveal 3s cubic-bezier(0.39, 0.575, 0.565, 1);
}

@keyframes reveal {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


@media (prefers-reduced-motion) {
    .show {
        animation: reveal 1ms cubic-bezier(0.19, 1, 0.22, 1);
    }
}
